<ul class="c-actions">
    <li class="c-action">
        <span class="c-action__title">طلبات تحتاج المعالجة 10</span>
        <a href="" class="c-btn c-action__link">مشاهد الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">رسائل تحتاج الإجابة 5</span>
        <a href="" class="c-btn c-action__link">مشاهدة الرسائل</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">منتجات ضرورية على وشك النفاذ 3</span>
        <a href="" class="c-btn c-action__link">مشاهدة المنتجات</a>
    </li>
</ul>